  .marker {
    background-image: url('./plane.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  #switch-map-style {
    margin-top: 5px; 
    padding: 5px; 
    border-radius: 49px; 
    background-color: white; 
    left: 10px; 
    position: absolute;
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    cursor: pointer;
  }

  .marker-developer {
    background-image: url('./infinite-radar-developer-plane.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  #flight-info-panel > * {
    margin-left: 8px;
    margin-right: 8px;
  }

  #flight-info-panel {
    background-color: white;
    position: absolute;
    overflow: auto;
    border: 0.5px solid lightgray;
  }

  .flight-info-desktop {
    right: 10px;
    width: 350px;
    top: 7%;
    bottom: 7%;
  }

  .flight-info-mobile {
    right: 0px;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
  }

  .info-section {
    border-top: 0.25px solid lightgray;
    border-bottom: 0.25px solid lightgray;
  }
