  .marker {
    background-image: url('./plane.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker-developer {
    background-image: url('./infinite-radar-developer-plane.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  #flight-info-panel > * {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  #flight-info-panel {
    background-color: white;
    position: absolute;
    right: 10px;
    width: 350px;
    top: 5%;
    bottom: 5%;
    overflow: auto;
    border: 0.5px solid lightgray;
  }
  
  .info-section {
    border-top: 0.25px solid lightgray; 
    border-bottom: 0.25px solid lightgray;
  }